In [1]:
import numpy as np
import pandas as pd
import random
import math
import statistics as stat
import matplotlib.pyplot as plt
import itertools
import warnings
from simul_file import mmn_queueing_jsq, queue_length_time_graph, \
                        mmn_queueing_redundancy_dos, mmn_queueing_redundancy_doc, \
                        mmn_queueing_redundancy_dos_identical, \
                        mmn_queueing_redundancy_doc_identical, \
                        mmn_queueing_redundancy_dos_weibull, \
                        mmn_queueing_redundancy_doc_weibull,\
                        mmn_queueing_jsq_weibull

In [ ]:
mmn_queueing_jsq(n,arrival_rate,service_rate,simulation_time=60,simuseed=math.nan,policy="jsq1")
queue_length_time_graph(event_calendar,other_stat,gtype="queue",sq_no=math.nan)
mmn_queueing_redundancy_dos(n,d,arrival_rate,service_rate,simulation_time=60,simuseed=math.nan)
mmn_queueing_redundancy_doc(n,d,arrival_rate,service_rate,simulation_time=60,simuseed=math.nan)
mmn_queueing_redundancy_dos_identical(n,d,arrival_rate,service_rate,simulation_time=60,simuseed=math.nan)
mmn_queueing_redundancy_doc_identical(n,d,arrival_rate,service_rate,simulation_time=60,simuseed=math.nan)
mmn_queueing_redundancy_dos_weibull(n,d,arrival_rate,scale,shape,simulation_time=60,simuseed=math.nan)
mmn_queueing_redundancy_doc_weibull(n,d,arrival_rate,scale,shape,simulation_time=60,simuseed=math.nan)
mmn_queueing_jsq_weibull(n,arrival_rate,scale,shape,simulation_time=60,simuseed=math.nan)

In [36]:
aaa = mmn_queueing_jsq(5,14,[3,1,4,2,5],simulation_time=1000,simuseed=8,policy="jsq1")
bbb = mmn_queueing_redundancy_dos(5,3,14,[3,1,4,2,5],simulation_time=1000,simuseed=8)
ccc = mmn_queueing_redundancy_doc(5,3,14,[3,1,4,2,5],simulation_time=1000,simuseed=8)

In [ ]:
def system_compare(system_result1,system_result2):

In [3]:
aaa[6]

                    Server1  Server2  Server3  Server4  Server5  Grand total
Arrived customers    2864.0   1042.0   3738.0   1897.0   4556.0      14097.0
Completed services   2863.0   1042.0   3738.0   1896.0   4555.0      14094.0

In [4]:
bbb[6]

                    Server1  Server2  Server3  Server4  Server5  Grand total
Arrived customers      2808      999     3772     1905     4548        14032
Completed services     2807      998     3771     1904     4547        14027

In [5]:
ccc[6]

                    Server1  Server2  Server3  Server4  Server5  Grand total
Arrived customers      2872      953     3725     1913     4625        14088
Completed services     2865      946     3716     1909     4619        14055

In [35]:
np.arange(0,1001,1000/20)

array([   0.,   50.,  100.,  150.,  200.,  250.,  300.,  350.,  400.,
        450.,  500.,  550.,  600.,  650.,  700.,  750.,  800.,  850.,
        900.,  950., 1000.])

In [ ]:
def system_compare_exp(system1,system2):
    '''
    Please input the output of the queueing function.
    '''
    sys1_time = np.arange(0,system1[7]['simulation_time']+1,system1[7]['simulation_time']/20)
    sys2_time = np.arange(0,system2[7]['simulation_time']+1,system2[7]['simulation_time']/20)
    
    aaa[0].iloc[np.where(aaa[0]["Time"][1:].to_numpy() == aaa[0]["Server1 Available Time"][:-1].to_numpy())[0],:]

In [6]:
ccc[0]

,Time,Next Customer,Finish Time,Server1,Server1 Available Time,Server1 Queue,Server1 Total,Server2,Server2 Available Time,Server2 Queue,...,Server4,Server4 Available Time,Server4 Queue,Server4 Total,Server5,Server5 Available Time,Server5 Queue,Server5 Total,Grand Queue,Grand Total
1,0.000000,0.018364,1000.0,0.0,NaN,0.0,0.0,0.0,NaN,0.0,...,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
2,0.018364,0.252504,1000.0,0.0,NaN,0.0,0.0,1.0,0.107398,0.0,...,0.0,NaN,0.0,0.0,1.0,0.045375,0.0,1.0,0.0,3.0
3,0.045375,0.252504,1000.0,0.0,NaN,0.0,0.0,0.0,NaN,0.0,...,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
4,0.252504,0.272810,1000.0,0.0,NaN,0.0,0.0,1.0,0.487464,0.0,...,1.0,0.765932,0.0,1.0,1.0,1.661572,0.0,1.0,0.0,3.0
5,0.272810,0.316708,1000.0,0.0,NaN,0.0,0.0,1.0,0.487464,0.0,...,1.0,0.765932,1.0,2.0,1.0,1.661572,1.0,2.0,2.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28119,999.940724,999.946893,1000.0,1.0,1001.499615,4.0,5.0,1.0,1000.528268,4.0,...,1.0,1000.354964,3.0,4.0,1.0,1000.113247,2.0,3.0,19.0,24.0
28120,999.946893,999.949672,1000.0,1.0,1001.499615,5.0,6.0,1.0,1000.528268,5.0,...,1.0,1000.354964,3.0,4.0,1.0,1000.113247,3.0,4.0,22.0,27.0
28121,999.949672,999.973632,1000.0,1.0,1001.499615,6.0,7.0,1.0,1000.528268,5.0,...,1.0,1000.354964,3.0,4.0,1.0,1000.113247,4.0,5.0,25.0,30.0
28122,999.973632,1000.070448,1000.0,1.0,1001.499615,6.0,7.0,1.0,1000.528268,6.0,...,1.0,1000.354964,3.0,4.0,1.0,1000.113247,5.0,6.0,28.0,33.0
28123,1000.000000,1000.070448,1000.0,1.0,1001.499615,6.0,7.0,1.0,1000.528268,6.0,...,1.0,1000.354964,3.0,4.0,1.0,1000.113247,5.0,6.0,28.0,33.0

In [21]:
sum(aaa[0]["Time"][1:].to_numpy() == aaa[0]["Server1 Available Time"][:-1].to_numpy())

2863

In [29]:
aaa[0].iloc[np.where(aaa[0]["Time"][1:].to_numpy() == aaa[0]["Server1 Available Time"][:-1].to_numpy())[0],:]

,Time,Next Customer,Finish Time,Server1,Server1 Available Time,Server1 Queue,Server1 Total,Server2,Server2 Available Time,Server2 Queue,...,Server4,Server4 Available Time,Server4 Queue,Server4 Total,Server5,Server5 Available Time,Server5 Queue,Server5 Total,Grand Queue,Grand Total
23,1.269496,1.336155,1000.0,1.0,1.279730,1.0,2.0,1.0,3.037463,1.0,...,1.0,1.446988,0.0,1.0,1.0,1.403643,0.0,1.0,3.0,8.0
25,1.336155,1.544697,1000.0,1.0,1.351560,0.0,1.0,1.0,3.037463,1.0,...,1.0,1.446988,0.0,1.0,1.0,1.403643,1.0,2.0,3.0,8.0
36,1.769042,1.901517,1000.0,1.0,1.891877,0.0,1.0,1.0,3.037463,1.0,...,1.0,1.953699,0.0,1.0,1.0,2.341290,0.0,1.0,2.0,7.0
43,2.112685,2.283037,1000.0,1.0,2.139158,1.0,2.0,1.0,3.037463,1.0,...,1.0,2.322897,0.0,1.0,1.0,2.341290,1.0,2.0,3.0,8.0
45,2.194547,2.283037,1000.0,1.0,2.242623,0.0,1.0,1.0,3.037463,1.0,...,1.0,2.322897,0.0,1.0,1.0,2.341290,1.0,2.0,2.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28136,997.478482,997.682708,1000.0,1.0,997.502920,1.0,2.0,0.0,NaN,0.0,...,1.0,998.157433,0.0,1.0,0.0,NaN,0.0,0.0,2.0,5.0
28139,997.682708,997.993992,1000.0,1.0,997.705085,0.0,1.0,0.0,NaN,0.0,...,1.0,998.157433,0.0,1.0,1.0,998.195752,0.0,1.0,0.0,4.0
28154,998.300076,998.364901,1000.0,1.0,998.343877,1.0,2.0,1.0,998.662368,0.0,...,1.0,998.421947,0.0,1.0,0.0,NaN,0.0,0.0,1.0,5.0
28170,998.795215,998.832441,1000.0,1.0,998.815039,0.0,1.0,1.0,999.782195,0.0,...,1.0,998.817644,0.0,1.0,0.0,NaN,0.0,0.0,0.0,3.0
28179,999.421326,999.492625,1000.0,1.0,999.437885,0.0,1.0,1.0,999.782195,0.0,...,1.0,999.508592,0.0,1.0,0.0,NaN,0.0,0.0,0.0,4.0

In [32]:
aaa[7]['simulation_time']

1000